<div class="preloader"> 
	<div class="preloader-logo"><img src="images/logos/thermosa-photography-logo.png" alt="" width="300" height="28" srcset="images/logos/thermosa-photography-logo.png 2x"/>
	</div>
	<div class="preloader-body">
		<div id="loadingProgressG">
			<div class="loadingProgressG" id="loadingProgressG_1"></div>
		</div>
	</div>
</div>