<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  {{>head}}
  <body>
    <div class="page">
      <!-- Page Header-->
      {{>header}}
      <!-- Breadcrumbs -->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/breadcrumbs-image-1.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              {{!-- <h6 class="breadcrumbs-custom-subtitle title-decorated">Pages</h6> --}}
              <h1 class="breadcrumbs-custom-title">About Me</h1>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/">Home</a></li>
              {{!-- <li><a href="#">Pages</a></li> --}}
              <li class="active">About Me</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="section section-md">
        <div class="container">
          <!-- Profile Modern-->
          <article class="profile-modern">
            <div class="profile-modern-figure"><img class="profile-modern-image" src="images/main-photos/caitlin-wave.jpg" alt="" width="336" height="336"/>{{!-- <a class="profile-modern-button" href="#"><span class="icon mdi mdi-facebook-messenger"></span><span class="icon mdi mdi-facebook-messenger"></span></a> --}}
            </div>
            <div class="profile-modern-main">
              <div class="profile-modern-header">
                <div class="profile-modern-header-item">
                  <h3>Caitlin Mohnike</h3>
                  <p>Photographer</p>
                </div>
                <div class="profile-modern-item">
                  <div class="group group-xs group-middle"><a class="icon icon-sm icon-creative mdi mdi-facebook" href="https://www.facebook.com/thermosa.photography/" target="_blank"></a><!-- <a class="icon icon-sm icon-creative mdi mdi-twitter" href="#"></a> --><a class="icon icon-sm icon-creative mdi mdi-instagram" href="https://www.instagram.com/thermosa.photography/" target="_blank"></a><!-- <a class="icon icon-sm icon-creative mdi mdi-google" href="#"></a><a class="icon icon-sm icon-creative mdi mdi-linkedin" href="#"></a> --></div>
                </div>
              </div>
              <div class="row row-30">
                <div class="col-lg-6">
                  <p>Caitlin is a photographer based in the Portland Oregon area (Oregon City, to be exact!)</p>
                </div>
                <div class="col-lg-6">
                        <!-- Linear progress bar-->
                        <article class="progress-linear">
                          <div class="progress-header">
                            <p>Photography</p><span class="progress-value">100</span>
                          </div>
                          <div class="progress-bar-linear-wrap">
                            <div class="progress-bar-linear"></div>
                          </div>
                        </article>
                        <!-- Linear progress bar-->
                        <article class="progress-linear">
                          <div class="progress-header">
                            <p>Creativity</p><span class="progress-value">65</span>
                          </div>
                          <div class="progress-bar-linear-wrap">
                            <div class="progress-bar-linear progress-red"></div>
                          </div>
                        </article>
                        <!-- Linear progress bar-->
                        <article class="progress-linear">
                          <div class="progress-header">
                            <p>Retouching</p><span class="progress-value">80</span>
                          </div>
                          <div class="progress-bar-linear-wrap">
                            <div class="progress-bar-linear progress-blue"></div>
                          </div>
                        </article>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
      {{>portfolio}}
      <!-- Nathan’s Blog Posts-->
      <section class="section section-lg text-center">
        <div class="container">
          <h3 class="section-title">Blog Posts</h3>
          <div class="row row-50">
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Post Tiny-->
              <article class="post-tiny wow fadeSlideInDown"><a class="post-tiny-media" href="single-blog-post.html"><img src="images/blog-layouts-1-270x184.jpg" alt="" width="270" height="184"/></a>
                <h5 class="post-tiny-title"><a href="single-blog-post.html">Top 10 Essential Photography Tips</a></h5>
                <time class="post-tiny-time" datetime="2017">2 days ago</time>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Post Tiny-->
              <article class="post-tiny wow fadeSlideInDown" data-wow-delay=".05s"><a class="post-tiny-media" href="single-blog-post.html"><img src="images/blog-layouts-2-270x184.jpg" alt="" width="270" height="184"/></a>
                <h5 class="post-tiny-title"><a href="single-blog-post.html">5 Ways to Get Great Photos Outside of the Studio</a></h5>
                <time class="post-tiny-time" datetime="2017">2 days ago</time>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Post Tiny-->
              <article class="post-tiny wow fadeSlideInDown" data-wow-delay=".1s"><a class="post-tiny-media" href="single-blog-post.html"><img src="images/blog-layouts-3-270x184.jpg" alt="" width="270" height="184"/></a>
                <h5 class="post-tiny-title"><a href="single-blog-post.html">Best Location Ideas for Your Next Photo Shoot</a></h5>
                <time class="post-tiny-time" datetime="2017">2 days ago</time>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Post Tiny-->
              <article class="post-tiny wow fadeSlideInDown" data-wow-delay=".15s"><a class="post-tiny-media" href="single-blog-post.html"><img src="images/blog-layouts-4-270x184.jpg" alt="" width="270" height="184"/></a>
                <h5 class="post-tiny-title"><a href="single-blog-post.html">12 Advanced Photography Techniques</a></h5>
                <time class="post-tiny-time" datetime="2017">2 days ago</time>
              </article>
            </div>
          </div><a class="button button-primary button-winona" href="sidebar-blog.html">View More</a>
        </div>
      </section>
      <section class="section section-lg bg-gray-100">
        <div class="container">
          <h3 class="wow-outer section-title text-center"><span class="wow slideInUp">Testimonials & Video</span></h3>
          <div class="row row-50 justify-content-center justify-content-lg-between">
            <div class="col-md-10 col-lg-5 wow-outer">
              <div class="owl-carousel wow slideInLeft" data-items="1" data-dots="true" data-nav="false" data-loop="true" data-margin="30" data-stage-padding="0" data-mouse-drag="false">
                <blockquote class="quote-modern"><span class="icon quote-modern-mark linearicons-quote-open"></span>
                  <div class="quote-modern-text">
                    <p>Just received my beautiful pictures today and I am in awe of how handsome my son looks in the pictures! Thank you so much for such great memories!  I will recommend you to my friends.</p>
                  </div>
                  <div class="quote-modern-meta">
                    <div class="quote-modern-avatar"><img src="images/testimonials-person-3-96x96.jpg" alt="" width="96" height="96"/>
                    </div>
                    <div class="quote-modern-info">
                      <cite class="quote-modern-cite">Kate Webb</cite>
                      <p class="quote-modern-caption">Regular Client</p>
                    </div>
                  </div>
                </blockquote>
                <blockquote class="quote-modern"><span class="icon quote-modern-mark linearicons-quote-open"></span>
                  <div class="quote-modern-text">
                    <p>I absolutely loved my session and all of the pictures that came from it. You have a clear passion for what you do and it shows through your work! I highly recommend J. Davis for any photography needs!</p>
                  </div>
                  <div class="quote-modern-meta">
                    <div class="quote-modern-avatar"><img src="images/testimonials-person-1-96x96.jpg" alt="" width="96" height="96"/>
                    </div>
                    <div class="quote-modern-info">
                      <cite class="quote-modern-cite">Kelly McMillan</cite>
                      <p class="quote-modern-caption">Regular Client</p>
                    </div>
                  </div>
                </blockquote>
                <blockquote class="quote-modern"><span class="icon quote-modern-mark linearicons-quote-open"></span>
                  <div class="quote-modern-text">
                    <p>I was so happy with the pictures Jonathan took. He was very kind and patient with my two-month old and my energetic 6 y.o. children. I will be going to Jonathan from now on for the best family photos!</p>
                  </div>
                  <div class="quote-modern-meta">
                    <div class="quote-modern-avatar"><img src="images/testimonials-person-2-96x96.jpg" alt="" width="96" height="96"/>
                    </div>
                    <div class="quote-modern-info">
                      <cite class="quote-modern-cite">Ann Barnett</cite>
                      <p class="quote-modern-caption">Regular Client</p>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
              <div class="thumbnail-video-1 bg-gray-700 wow slideInLeft">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="570" height="320" src="//www.youtube.com/embed/QZzbm-FrkGk" allowfullscreen=""></iframe>
                </div>
                <div class="thumbnail-video__overlay video-overlay" style="background-image: url(images/video-preview-1-570x320.jpg)">
                  <div class="button-video"></div>
                  <h5>Showreel</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
            {{>footer}}
    </div>
    <div class="preloader"> 
      <div class="preloader-logo"><img src="images/logo-default-133x28.png" alt="" width="133" height="28" srcset="images/logo-default-266x54.png 2x"/>
      </div>
      <div class="preloader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>