<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <body>
    <div class="page">
      <!-- Page Header-->
      {{>header}}
      <!-- Overlapping Screen-->
      <section class="section section-overlap bg-decorate">
        <div class="section-overlap-image" style="background-image: url(images/main-photos/caitlin-camera.jpg)"></div>
        <div class="section-overlap-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-lg-5 col-xl-4">
                <div class="wow-outer">
                  <h6 class="font-weight-sbold text-primary wow slideInDown">I'm Caitlin</h6>
                </div>
              </div>
              <div class="col-md-8 col-lg-7 col-xl-6">
                <h1 class="wow-outer"><span class="font-weight-bold wow-outer"><span class="wow slideInUp">Photographer</span></span><span class="font-weight-exlight wow-outer"><span class="wow slideInUp" data-wow-delay=".1s">& Retoucher</span></span></h1>
              </div>
              <div class="col-md-6 col-lg-5 col-xl-4 col-offset-1">
                <div class="wow-outer">
                  <h4 class="font-weight-light wow slideInUp" data-wow-delay=".2s">Based in Oregon City, I specialize in Portraits of all kinds! I love photography and finding the beauty in everything.</h4>
                </div>
                <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow slideInUp" href="/portfolio-all" data-wow-delay=".3s">View Portfolio </a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Projects - Modern Layout-->
      {{>portfolio}}
      <!-- Advantages and Achievements-->
      <section class="section section-lg text-center bg-default">
        <div class="container">
          <h3 class="section-title wow-outer"><span class="wow slideInUp">About Me</span></h3>
          <p class="wow-outer"><span class="text-width-1 wow slideInDown">I've been documenting the candid moments of loved ones for the past decade. I specialize in capturing candid moments in natural light. Translation: I love to catch your real interactions (laughing, talking, playing around) without using flash.</span></p>
          <div class="row row-50">
            <div class="col-6 col-md-3 wow-outer"> 
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon linearicons-camera2"></div>
                <div class="counter-minimal-main">
                  <div class="counter">46500</div>
                </div>
                <h5 class="counter-minimal-title">Photos Taken</h5>
              </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon linearicons-camera2"></div>
                <div class="counter-minimal-main">
                  <div class="counter">156</div>
                </div>
                <h5 class="counter-minimal-title">Photo Shoots</h5>
              </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal-->
              <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon linearicons-shutter"></div>
                <div class="counter-minimal-main">
                  <div class="counter">10</div>
                </div>
                <h5 class="counter-minimal-title">Years of Experience</h5>
              </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
              <!-- Counter Minimal -->
              <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon linearicons-picture"></div>
                <div class="counter-minimal-main">
                  <div class="counter">3</div>
                </div>
                <h5 class="counter-minimal-title">States</h5>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Testimonials-->
      {{!-- <section class="section section-lg bg-gray-100 text-center">
        <div class="container">
          <h3 class="section-title">Testimonials</h3>
          <div class="slick-widget-testimonials wow fadeIn">
            <div class="slick-slider carousel-child" id="child-carousel" data-for=".carousel-parent" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-sm-items="3" data-md-items="5" data-lg-items="5" data-xl-items="5" data-center-mode="true" data-slide-to-scroll="1">
              <div class="item wow-outer"><img class="wow slideInLeft" src="images/testimonials/clarisa.jpg" alt="" width="96" height="96"/>
              </div>
              <div class="item wow-outer"><img class="wow slideInLeft" src="images/testimonials/jessie.png" alt="" width="96" height="96"/>
              </div>
              <div class="item wow-outer"><img class="wow slideInLeft" src="images/testimonials/ecain.png" alt="" width="96" height="96"/>
              </div>
              <div class="item wow-outer"><img class="wow slideInLeft" src="images/testimonials/kamari.png" alt="" width="96" height="96"/>
              </div>
              <div class="item wow-outer"><img class="wow slideInLeft" src="images/testimonials/vanessa.png" alt="" width="96" height="96"/>
              </div>
              <div class="item wow-outer"><img class="wow slideInLeft" src="images/testimonials/toni.png" alt="" width="96" height="96"/>
              </div>
              <div class="item wow-outer"><img class="wow slideInLeft" src="images/testimonials/crystal.png" alt="" width="96" height="96"/>
              </div>
            </div>
            <!-- Slick Carousel-->
            <div class="slick-slider carousel-parent" data-arrows="false" data-loop="true" data-dots="false" data-swipe="false" data-items="1" data-fade="true" data-child="#child-carousel" data-for="#child-carousel">
              <div class="item">
                <!-- Quote Light 1-->
                <blockquote class="quote-light">
                  <cite class="quote-light-cite">Clarisa</cite>
                  <p class="quote-light-caption">Family Portraits</p>
                  <div class="quote-light-text">
                    <p>Caitlin was great! She was set up and prepared with shot ideas, but also flexible in the moment with two young kids. This was our best family shoot yet and we are certain her calm, easy energy had a lot to do with it. And the final edits were received were beautiful!</p>
                  </div>
                </blockquote>
              </div>
              <div class="item">
                <!-- Quote Light 2-->
                <blockquote class="quote-light">
                  <cite class="quote-light-cite">Jessie S.</cite>
                  <p class="quote-light-caption">Family Portraits</p>
                  <div class="quote-light-text">
                    <p>My family and I met Caitlin at a Christmas tree farm for holiday photos. She greeted us with a gorgeous smile and positive attitude. My 7 month old son Isaac just loved her and was immediately drawn to her upbeat attitude. He was happy and engaged for every photo for this reason. The photos came out better than I could have ever imaged! She was fast but thorough, affordable but tasteful and a delight to spend time with! We will definitely be using Thermosa Photography again!</p>
                  </div>
                </blockquote>
              </div>
              <div class="item">
                <!-- Quote Light 3-->
                <blockquote class="quote-light">
                  <cite class="quote-light-cite">Elizabeth C.</cite>
                  <p class="quote-light-caption">Infant Pictures</p>
                  <div class="quote-light-text">
                    <p>Caitlin was so easy to work with from figuring out a time to come to our house to her fast turnaround of the final pictures. She put all of us at ease to capture candid shots that brought out the personality of the whole family. She even snapped a few pics of the dog for us even though she was booked for our little one. Caitlin came ready to take pictures with several ideas on staging to get us started and then let me pitch in a few ideas that sprung up during the shoot. I would highly recommend Caitlin and Thermosa Photography to anyone!</p>
                  </div>
                </blockquote>
              </div>
              <div class="item">
                <!-- Quote Light 4 -->
                <blockquote class="quote-light">
                  <cite class="quote-light-cite">Kamari F.</cite>
                  <p class="quote-light-caption">Senior Pictures</p>
                  <div class="quote-light-text">
                    <p>Thank you for taking my senior pictures! I had a hard time finding someone to do them and you were perfect for it! She was a great person to work with for my pictures! They came out perfect and she helped me with doing poses to make the pictures look better. She was very friendly and very professional.</p>
                  </div>
                </blockquote>
              </div>
              <div class="item">
                <!-- Quote Light 5-->
                <blockquote class="quote-light">
                  <cite class="quote-light-cite">Vanessa G.</cite>
                  <p class="quote-light-caption">Family Pictures</p>
                  <div class="quote-light-text">
                    <p>It was a blast getting family photos taken! She was able to get all 50+ family members to cooperate even in the cold winter of NE! We even got some great individual family pictures taken. She was quick/efficient and the pictures turned out AMAZING!</p>
                  </div>
                </blockquote>
              </div>
              <div class="item">
                <!-- Quote Light 6-->
                <blockquote class="quote-light">
                  <cite class="quote-light-cite">Toni C.</cite>
                  <p class="quote-light-caption">Family Pictures</p>
                  <div class="quote-light-text">
                    <p>Caitlin did an amazing job at taking my Christmas photos of me and my family. She was so great at making us all feel comfortable and getting the most beautiful photos of all of us.  I would highly recommend her for anyone seeking beautiful timeless photos. She was also very punctual at getting the photos to us on time.</p>
                  </div>
                </blockquote>
              </div>
              <div class="item">
                <!-- Quote Light 7-->
                <blockquote class="quote-light">
                  <cite class="quote-light-cite">Crystal A.</cite>
                  <p class="quote-light-caption">Family Pictures</p>
                  <div class="quote-light-text">
                    <p>Caitlin was super professional and had great props! And best of all, our pics turned out great! She really knows what she's doing!</p>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </section> --}}
      {{!-- <section class="section section-lg"> 
        <div class="container">
          <div class="row row-50 justify-content-lg-between offset-top-1">
            <div class="col-12">
              <h3 class="section-title text-center wow-outer"><span class="wow slideInDown">Frequently Asked Questions</span></h3>
            </div>
            <div class="col-lg-7 col-xl-6">
              <!-- Bootstrap collapse-->
              <div class="card-group-custom card-group-corporate wow-outer" id="accordion1" role="tablist" aria-multiselectable="false">
                          <!-- Bootstrap card-->
                          <article class="card card-custom card-corporate wow fadeInDown" data-wow-delay=".05s">
                            <div class="card-header" id="accordion1-heading-1" role="tab">
                              <div class="card-title"><a role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-collapse-1" aria-controls="accordion1-collapse-1" aria-expanded="true">Do you provide any scripts with your templates?
                                  <div class="card-arrow"></div></a></div>
                            </div>
                            <div class="collapse show" id="accordion1-collapse-1" role="tabpanel" aria-labelledby="accordion1-heading-1">
                              <div class="card-body">
                                <p>Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at www.zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.</p>
                              </div>
                            </div>
                          </article>
                          <!-- Bootstrap card-->
                          <article class="card card-custom card-corporate wow fadeInDown" data-wow-delay=".1s">
                            <div class="card-header" id="accordion1-heading-2" role="tab">
                              <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-collapse-2" aria-controls="accordion1-collapse-2" aria-expanded="false">What do I receive when I order a template?
                                  <div class="card-arrow"></div></a></div>
                            </div>
                            <div class="collapse" id="accordion1-collapse-2" role="tabpanel" aria-labelledby="accordion1-heading-2">
                              <div class="card-body">
                                <p>After you complete the payment via our secure form you will receive the instructions for downloading the product. The source files in the download package can vary based on the type of the product you have purchased.</p>
                              </div>
                            </div>
                          </article>
                          <!-- Bootstrap card-->
                          <article class="card card-custom card-corporate wow fadeInDown" data-wow-delay=".15s">
                            <div class="card-header" id="accordion1-heading-3" role="tab">
                              <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-collapse-3" aria-controls="accordion1-collapse-3" aria-expanded="false">In what formats are your templates available?
                                  <div class="card-arrow"></div></a></div>
                            </div>
                            <div class="collapse" id="accordion1-collapse-3" role="tabpanel" aria-labelledby="accordion1-heading-3">
                              <div class="card-body">
                                <p>Website templates are available in Photoshop and HTML formats. Fonts are included with the Photoshop file. In most templates, HTML is compatible with Adobe® Dreamweaver® and Microsoft® FrontPage®.</p>
                              </div>
                            </div>
                          </article>
                          <!-- Bootstrap card-->
                          <article class="card card-custom card-corporate wow fadeInDown" data-wow-delay=".2s">
                            <div class="card-header" id="accordion1-heading-4" role="tab">
                              <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-collapse-4" aria-controls="accordion1-collapse-4" aria-expanded="false">What am I allowed to do with the templates?
                                  <div class="card-arrow"></div></a></div>
                            </div>
                            <div class="collapse" id="accordion1-collapse-4" role="tabpanel" aria-labelledby="accordion1-heading-4">
                              <div class="card-body">
                                <p>You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are the property of content providing companies and individuals. You are also not allowed to make more than one project using the same template.</p>
                              </div>
                            </div>
                          </article>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="progress-linear-outer wow-outer">
                          <!-- Linear progress bar-->
                          <article class="progress-linear wow slideInDown" data-wow-delay=".05s">
                            <div class="progress-header">
                              <p>Photography</p><span class="progress-value">90</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                              <div class="progress-bar-linear"></div>
                            </div>
                          </article>
              </div>
              <div class="progress-linear-outer wow-outer">
                          <!-- Linear progress bar-->
                          <article class="progress-linear wow slideInDown" data-wow-delay=".1s">
                            <div class="progress-header">
                              <p>Creativity</p><span class="progress-value">65</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                              <div class="progress-bar-linear progress-red"></div>
                            </div>
                          </article>
              </div>
              <div class="progress-linear-outer wow-outer">
                          <!-- Linear progress bar-->
                          <article class="progress-linear wow slideInDown" data-wow-delay=".15s">
                            <div class="progress-header">
                              <p>Retouching</p><span class="progress-value">100</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                              <div class="progress-bar-linear progress-blue"></div>
                            </div>
                          </article>
              </div>
              <div class="progress-linear-outer wow-outer">
                          <!-- Linear progress bar-->
                          <article class="progress-linear wow slideInDown" data-wow-delay=".2s">
                            <div class="progress-header">
                              <p>Communication</p><span class="progress-value">75</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                              <div class="progress-bar-linear progress-green"></div>
                            </div>
                          </article>
              </div>
            </div>
          </div>
        </div>
      </section> --}}
      <section class="section section-xs bg-gray-700 text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-10 col-md-12">
              <div class="box-cta-thin">
                <h4 class="wow-outer"><span class="wow slideInRight">Looking for  <span class="text-italic">Quality Photography?</span> </span></h4>
                <div class="wow-outer button-outer"><a class="button button-primary button-winona wow slideInLeft" href="/contacts">Get in Touch</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Latest Blog Posts-->
      {{!-- <section class="section section-lg bg-gray-100 text-center">
        <div class="container">
          <h3 class="section-title wow-outer"><span class="wow slideInDown">Latest Blog Posts</span></h3>
          <div class="row row-50">
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Post Classic-->
              <article class="post-classic wow slideInLeft"><a class="post-classic-media" href="single-blog-post.html"><img src="images/sidebar-blog-1-370x264.jpg" alt="" width="370" height="264"/></a>
                <ul class="post-classic-meta">
                  <li><a class="button-winona" href="#">News</a></li>
                  <li>
                    <time datetime="2018">Apr 21, 2018 at 12:05 pm</time>
                  </li>
                </ul>
                <h4 class="post-classic-title"><a href="single-blog-post.html">Top 10 Essential Photography Tips for Beginners</a></h4>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Post Classic-->
              <article class="post-classic wow slideInLeft" data-wow-delay=".05s"><a class="post-classic-media" href="single-blog-post.html"><img src="images/sidebar-blog-2-370x264.jpg" alt="" width="370" height="264"/></a>
                <ul class="post-classic-meta">
                  <li><a class="button-winona text-red" href="#">Innovations</a></li>
                  <li>
                    <time datetime="2018">Apr 21, 2018 at 12:05 pm</time>
                  </li>
                </ul>
                <h4 class="post-classic-title"><a href="single-blog-post.html">Benefits of Using Drones in Aerial Photography</a></h4>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Post Classic-->
              <article class="post-classic wow slideInLeft" data-wow-delay=".1s"><a class="post-classic-media" href="single-blog-post.html"><img src="images/sidebar-blog-3-370x264.jpg" alt="" width="370" height="264"/></a>
                <ul class="post-classic-meta">
                  <li><a class="button-winona text-green" href="#">Tips</a></li>
                  <li>
                    <time datetime="2018">Apr 21, 2018 at 12:05 pm</time>
                  </li>
                </ul>
                <h4 class="post-classic-title"><a href="single-blog-post.html">5 Ways to Get Great Photos Outside of the Studio</a></h4>
              </article>
            </div>
          </div>
        </div>
      </section> --}}
      <!-- Page Footer-->
            {{>footer}}
    </div>
    {{>preloader}}
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>