<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
	{{>head}}
	<body>
		<div class="page">
			{{>header}}
			<!-- Breadcrumbs -->
			<section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/bg-image-3-2.jpg);">
				<div class="breadcrumbs-custom-inner">
					<div class="container breadcrumbs-custom-container">
						<div class="breadcrumbs-custom-main">
							<h6 class="breadcrumbs-custom-subtitle title-decorated">Portfolio</h6>
							<h1 class="breadcrumbs-custom-title">{{title}}</h1>
						</div>
						<ul class="breadcrumbs-custom-path">
							<li><a href="/">Home</a></li>
							<li><a href="#">Portfolio</a></li>
							<li class="active">{{title}}</li>
						</ul>
					</div>
				</div>
			</section>
			{{>portfolio}}
			<!-- Page Footer-->
						{{>footer}}
		</div>
		<div class="preloader"> 
			<div class="preloader-logo"><img src="images/logo-default-133x28.png" alt="" width="133" height="28" srcset="images/logo-default-266x54.png 2x"/>
			</div>
			<div class="preloader-body">
				<div id="loadingProgressG">
					<div class="loadingProgressG" id="loadingProgressG_1"></div>
				</div>
			</div>
		</div>
		<!-- Global Mailform Output-->
		<div class="snackbars" id="form-output-global"></div>
		<!-- Javascript-->
		<script src="js/core.min.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>