<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  {{>head}}
  <body>
    <div class="page">
      <!-- Page Header-->
      {{>header}}
      <!-- Breadcrumbs -->
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(images/breadcrumbs-image-1.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              {{!-- <h6 class="breadcrumbs-custom-subtitle title-decorated">Services</h6> --}}
              <h1 class="breadcrumbs-custom-title">Services</h1>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/">Home</a></li>
              <li class="active">Services</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Services-->
      <section class="section-lg text-center">
        <div class="container">
          <h3 class="section-title">Services</h3>
         {{!--  <p><span class="text-width-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </span></p> --}}
          <div class="row row-50 row-xxl-70 offset-top-2">
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer offset-2">
              <!-- Box Light-->
              <article class="box-light wow slideInLeft">
                <div class="box-light-icon linearicons-camera2"></div>
                <h4 class="box-light-title">Candid/Lifestyle</h4>
                <p>Candid or Posed.</p>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Box Light-->
              <article class="box-light wow slideInLeft" data-wow-delay=".05s">
                <div class="box-light-icon linearicons-bow-tie"></div>
                <h4 class="box-light-title">Headshots</h4>
                <p>Look your best for your network.</p>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Box Light-->
              <article class="box-light wow slideInLeft" data-wow-delay=".15s">
                <div class="box-light-icon linearicons-baby"></div>
                <h4 class="box-light-title">Studio</h4>
                <p>Document your beautiful family.</p>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 offset-2 wow-outer">
              <!-- Box Light-->
              <article class="box-light wow slideInLeft" data-wow-delay=".15s">
                <div class="box-light-icon linearicons-hanger"></div>
                <h4 class="box-light-title">Products</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Box Light-->
              <article class="box-light wow slideInLeft" data-wow-delay=".1s">
                <div class="box-light-icon linearicons-camera"></div>
                <h4 class="box-light-title">Events</h4>
                <p>Capture candid moments.</p>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Box Light-->
              <article class="box-light wow slideInLeft">
                <div class="box-light-icon linearicons-panorama"></div>
                <h4 class="box-light-title">Pets</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
              </article>
            </div>
            {{!-- <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Box Light-->
              <article class="box-light wow slideInLeft" data-wow-delay=".05s">
                <div class="box-light-icon linearicons-film-play"></div>
                <h4 class="box-light-title">Video Production</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Box Light-->
              <article class="box-light wow slideInLeft" data-wow-delay=".1s">
                <div class="box-light-icon linearicons-haircut"></div>
                <h4 class="box-light-title">Makeup Shoots</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
              </article>
            </div> --}}
          </div>
        </div>
      </section>
      <!-- Testimonials-->
      <section class="section section-lg bg-gray-100 text-center">
        <div class="container">
          <h3 class="section-title">Package Options</h3>
          {{!-- <p><span class="text-width-1">I offer 4 basic photo packages. </span></p> --}}
          <div class="pricing-group-modern wow-outer">
            <!-- Pricing Modern-->
            <article class="pricing-modern wow fadeInLeft">
              <ul class="pricing-modern-rating">
                <li class="mdi mdi-star-outline"></li>
              </ul>
              <h5 class="pricing-modern-title"><a href="services.html">Starter</a></h5>
              <table class="pricing-modern-table">
                <tr>
                  <td>5</td>
                  <td>Photos</td>
                </tr>
                <tr>
                  <td>30</td>
                  <td>Minutes</td>
                </tr>
              </table>
              <p class="pricing-modern-price"><span class="pricing-modern-price-currency">$</span> 150</p><a class="button button-primary button-winona" href="services.html">Learn More</a>
            </article>
            <!-- Pricing Modern-->
            <article class="pricing-modern wow fadeInLeft" data-wow-delay=".05s">
              <ul class="pricing-modern-rating">
                <li class="mdi mdi-star-outline"></li>
                <li class="mdi mdi-star-outline"></li>
              </ul>
              <h5 class="pricing-modern-title"><a href="services.html">Individual</a></h5>
              <table class="pricing-modern-table">
                <tr>
                  <td>10</td>
                  <td>Photos</td>
                </tr>
{{!--           <tr>
                  <td>2</td>
                  <td>Photo Shoots</td>
                </tr> --}}
                <tr>
                  <td>1</td>
                  <td>Hours</td>
                </tr>
              </table>
              <p class="pricing-modern-price"><span class="pricing-modern-price-currency">$</span> 300</p><a class="button button-primary button-winona" href="services.html">Learn More</a>
            </article>
            <!-- Pricing Modern-->
            <article class="pricing-modern wow fadeInLeft" data-wow-delay=".1s">
              <ul class="pricing-modern-rating">
                <li class="mdi mdi-star-outline"></li>
                <li class="mdi mdi-star-outline"></li>
                <li class="mdi mdi-star-outline"></li>
              </ul>
              <h5 class="pricing-modern-title"><a href="services.html">Lifestyle</a></h5>
              <table class="pricing-modern-table">
                <tr>
                  <td>40</td>
                  <td>Photos</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Hours</td>
                </tr>
              </table>
              <p class="pricing-modern-price"><span class="pricing-modern-price-currency">$</span> 600</p><a class="button button-primary button-winona" href="services.html">Learn More</a>
            </article>
            <!-- Pricing Modern-->
            <article class="pricing-modern wow fadeInLeft" data-wow-delay=".15s">
              <ul class="pricing-modern-rating">
                <li class="mdi mdi-star-outline"></li>
                <li class="mdi mdi-star-outline"></li>
                <li class="mdi mdi-star-outline"></li>
                <li class="mdi mdi-star-outline"></li>
              </ul>
              <h5 class="pricing-modern-title"><a href="services.html">Corporate</a></h5>
              <table class="pricing-modern-table">
                <tr>
                  <td>Unlimited</td>
                  <td>Photos</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Hours</td>
                </tr>
              </table>
              <p class="pricing-modern-price"><span class="pricing-modern-price-currency">$</span> 1,000</p><a class="button button-primary button-winona" href="services.html">Learn More</a>
            </article>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
            {{>footer}}
    </div>
    {{>preloader}}
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>