include ../components/_ui-thumbnail-corporate

.isotope.offset-top-2(data-isotope-layout='masonry' data-lightgallery='group' data-lg-thumbnail='false')
	.row.row-30
		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-1-370x256',
				originalImg: 'gallery-original-1',
				link: 'single-project.html',
				title: 'Mary Williams',
				text: 'I offer high-quality photography & retouch services to individual and corporate clients all over the US.'
			}).wow.slideInDown

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-2-370x464',
				originalImg: 'gallery-original-2',
				link: 'single-project.html',
				title: 'YouthWear',
				text: 'I offer high-quality photography & retouch services to individual and corporate clients all over the US.'
			}).thumbnail-corporate-lg.wow.slideInDown

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-3-370x256',
				originalImg: 'gallery-original-3',
				link: 'single-project.html',
				title: 'Ultra Optix',
				text: 'I offer high-quality photography & retouch services to individual and corporate clients all over the US.'
			}).wow.slideInUp

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-4-370x464',
				originalImg: 'gallery-original-4',
				link: 'single-project.html',
				title: 'Accessories Inc.',
				text: 'I offer high-quality photography & retouch services to individual and corporate clients all over the US.'
			}).thumbnail-corporate-lg.wow.slideInUp

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-6-370x464',
				originalImg: 'gallery-original-6',
				link: 'single-project.html',
				title: 'Dwayne Winston',
				text: 'I offer high-quality photography & retouch services to individual and corporate clients all over the US.'
			}).thumbnail-corporate-lg.wow.slideInDown

		.col-12.col-sm-6.col-lg-4.isotope-item.wow-outer
			+thumbnail-corporate({
				img: 'gallery-masonry-5-370x256',
				originalImg: 'gallery-original-5',
				link: 'single-project.html',
				title: 'Sue Peterson',
				text: 'I offer high-quality photography & retouch services to individual and corporate clients all over the US.'
			}).wow.slideInDown
