.pricing-group-modern.wow-outer
	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='services.html') Starter
		table.pricing-modern-table
			tr
				td 20
				td Photos
			tr
				td 1
				td Photo Shoot
			tr
				td 1
				td Hour

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 250.00

		a.button.button-primary.button-winona(href='services.html') Order now

	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft(data-wow-delay='.05s')
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='services.html') Individual
		table.pricing-modern-table
			tr
				td 50
				td Photos
			tr
				td 2
				td Photo Shoots
			tr
				td 3
				td Hours

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 500.00
	
		a.button.button-primary.button-winona(href='services.html') Order now

	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft(data-wow-delay='.1s')
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='services.html') Extended
		table.pricing-modern-table
			tr
				td 80
				td Photos
			tr
				td 3
				td Photo Shoots
			tr
				td 4
				td Hours

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 850.00

		a.button.button-primary.button-winona(href='services.html') Order now

	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft(data-wow-delay='.15s')
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='services.html') Corporate
		table.pricing-modern-table
			tr
				td 100
				td Photos
			tr
				td 4
				td Photo Shoots
			tr
				td 5
				td Hours

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 1200.00

		a.button.button-primary.button-winona(href='services.html') Order now
