footer.section.footer-minimal.bg-gray-700
	.container 
		.footer-minimal-inner
			a.brand(href='index.html')
				+png(logo.light.trueSize)(srcset='images/' + logo.light.retina + '.png 2x')
			+rights
