section.section.section-lg.bg-gray-100
	.container
		.row.row-50.justify-content-center.justify-content-lg-between
			.col-md-10.col-lg-6.col-xl-5
				h3.wow-outer: span.wow.slideInDown A Few Words About Us
				p.wow-outer: span.wow.slideInDown(data-wow-delay='.05s') We are a team of talented marketers who happen to love creating smart ideas for those who will have us. We use our creative potential to provide the smartest ideas.
				p.wow-outer: span.wow.slideInDown(data-wow-delay='.1s') We have a wide range of experience, expertise and tools to create and implement your campaigns, from carefully curating awesome content to optimising it with our great SEO powers as well as outdoor marketing skills.
				.wow-outer.button-outer
					a.button.button-lg.button-primary.button-winona.wow.slideInDown(data-wow-delay='.1s' href='about-us.html') Learn more

			.col-md-10.col-lg-6.wow-outer
				+jpg('large-features-2-570x368', 'img-responsive').wow.slideInRight
