section.section.section-lg
	.container
		.row.row-50.justify-content-center.justify-content-lg-between.flex-lg-row-reverse
			.col-md-10.col-lg-6.col-xl-5
				h3.wow-outer: span.wow.slideInDown A Few Words About Us
				p.wow-outer: span.wow.slideInDown(data-wow-delay='.05s') CaseCraft was founded in 1995 and since that time has grown into the largest CPA firm in the area. We are an assertive firm providing our clients a full range of services.
				p.wow-outer: span.wow.slideInDown(data-wow-delay='.1s') Our offices are located in the Intermountain West because this is where we chose to live. However, we serve a wide variety of clients located throughout the United States and even some European countries.
				.wow-outer.button-outer
					a.button.button-lg.button-primary.button-winona.wow.slideInDown(data-wow-delay='.1s' href='about-us.html') Learn more
				
			.col-md-10.col-lg-6.wow-outer
				+jpg('large-features-3-570x368', 'img-responsive').wow.slideInLeft
