section.section.section-lg.bg-gray-700#our-history
	.container
		// Timeline Classic
		article.timeline-classic
			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-1-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title December 1995
					p.thumbnail-classic-item-subtitle We Gathered the Team of Dedicated and Knowledgeable Business Specialists
					p CaseCraft was founded in 1995 as an organization of talented managers, promoters, accountants, and marketers. Since then, we have been providing our services to an increasing amount of customers worldwide including international corporations and small local businesses.

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-2-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title March 2004
					p.thumbnail-classic-item-subtitle We Opened Several Offices in Florida and Georgia To Provide High-Quality Accounting Services
					p Thanks to our rapid development, in 2007 we managed to open new offices in other states of the USA, including Georgia and Florida. We have also increased the level of our customer service and introduced new services such as copywriting, web design, and SMM.

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-3-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title April 2010
					p.thumbnail-classic-item-subtitle We Started to Cooperate with Marketing Agencies Overseas to Provide Better Services
					p To improve the way we provide services to our clients we decided to start long-term cooperation with our European and Asian partners. It helped us to integrate our services and business solutions into the production cycle of many European companies and enterprises.

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-4-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					p.timeline-classic-item-title May 2017
					p.thumbnail-classic-item-subtitle We Develop New Solutions for Our Clients to Improve Their Business Strategies
					p As of today, our main goal and priority is to Introduce new business, marketing, promotion, design, and customer support solutions. All of them are based on cutting-edge technologies and innovations that bring us as well as our partners and clients much profit and success.
