// Overview
section.section.section-lg
	.container
		.row.row-50.justify-content-center.justify-content-lg-between
			.col-md-10.col-lg-6
				h3 Overview
				h4.offset-top-3 CaseCraft works to satisfy the increasing needs of domestic and international businesses.
				p We are a team of dedicated business experts specialising in management, promotion, marketing, accounting, advertising, and other business-related spheres. The goal of CaseCraft is to improve the success of our clients’ businesses and offer affordable services.
				.group.group-middle
					a.button.button-primary.button-winona(href='#our-history' data-waypoint-to='#our-history') View our History
					a.button.button-primary-outline.button-winona(href='careers.html') Join our Team

			.col-md-10.col-lg-6.col-xl-5 
				+png('large-features-1-470x334', 'img-responsive')
