section.section.section-xl.bg-gray-700.bg-image.bg-image-1(style='background-image: url(images/call-to-action-2-1920x584.jpg);')
	.container
		.row.justify-content-sm-end
			.col-sm-9.col-md-7.col-lg-6
				.box-2
					.wow-outer: .wow.slideInUp
						h4 Take the First Step to the
						h3.font-weight-bold Success of Your Company
						
					.wow-outer.offset-top-4: .wow.slideInDown
						p We can make your company the leader of the market by providing high quality business management solutions. Schedule an appointment to find out more.
						a.button.button-primary.button-winona(href='#') Make an Appointment
